.wrapper {
    border: 1px grey solid;
    border-radius: 10px;
    min-width: 205px;
    background-color: #d7d7d7;

}
.wrapper:hover {
    background-color: darkgray;
    cursor: pointer;
}
.textWrapper {
    margin: 8px;
}

.overview {
    margin: 5px 0;
}

